@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#logo {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 15px;
    color: #e5e7eb
}

li {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* First Container */

.first-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text {
    width: 400px;
}

#main {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;

}

#second {
    font-size:12px;
    color: #e5e7eb;
}

.main-image {
    object-fit: cover;
    width: 400px;
    
}

button {
    background: #3882f6;
    border: 1px solid #3882f6;
    padding: 6px 9px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

/* Second container */

.tiny-image {
    margin-top: 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#main2 {
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

#third {
    font-size: 12px;
    width: 200px;
}

/* Third container */

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: #e5e7eb;
    margin-top: 30px;
}

.main3 {
    font-size: 25px;
    font-style: italic;
    width: 800px;
}
