body {
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

#logo {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 15px;
    color: #e5e7eb
}

li {
    margin-left: 10px;
}

.first-container {
    display: flex;
}

#main {
    font-size: 35px;
    font-weight: bolder;
    color: #f9faf8;

}

#second {
    font-size:12px;
    color: #e5e7eb
}